<div class="modal" tabindex="-1" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>Nombre de usuario <input type="text"></p>
          <p>trabajo <input type="text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="Editar()">Editar</button>
        </div>
      </div>
    </div>
  </div>
